@import 'src/Assets/variables';

.how-it-works {
  &-header {
    margin-top: 155px;
    background: url(../../Assets/Images/my-projects-background.png);
    height: 300px;
    text-align: center;
    padding-top: 127px;
    background-size: contain;
    background-repeat: no-repeat;

    &-heading {
      font-family: 'Poppins-Bold', serif;
      color: $button-main;
      transform: translateY(-50%);
      font-size: 60px;
    }

    &-sub {
      color: $typography;
      margin-bottom: 5px;

      &-one {
        margin-top: -42px;
        margin-bottom: 5px;
      }
    }
  }

  &-footer {
    background-color: #FBFBFB;
    color: $typography;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../../Assets/Images/confetti.png');
    background-position: top;
    background-repeat: no-repeat;

    &-heading {
      font-family: 'Poppins-Bold', serif;
    }

    &-text {
      width: 60%;
      margin-left: 20%;
    }

    &-btn {
      width: 15%;
      margin-left: 42.5%;
      margin-top: 27px;
    }
  }

  &-stages {
    width: 70%;
    margin-left: 15%;
    display: flex;
    margin-top: 47px;

    &-stage {
      width: 25%;
      position: relative;
      font-family: 'Poppins-Regular', serif;
      font-weight: bold;
      color: $typography;

      &.active > &-num {
        background-color: $main-txt;
        color: $white;
        border: 1px solid $main-txt;

        & > .how-it-works-stages-stage-desc {
          color: $main-txt;
        }
      }


      &-num {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid #BDBDBD;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &.last.active {
          background-color: $main-txt;
          color: $white;
          border: 1px solid $main-txt;
          font-weight: bold;
        }
      }

      &-tail {
        position: absolute;
        width: calc(100% - 40px);
        height: 1px;
        background-color: $typography;
        top: 50%;
        left: 40px;

        &.active {
          background-color: $main-txt;
          height: 2px;
        }
      }

      &-desc {
        position: absolute;
        top: 60px;
        width: 500%;
        text-align: center;
      }
    }
  }

  &-step {
    &-heading {
      font-family: 'Poppins-Bold', serif;
      margin-top: 10px;
    }

    &-text {
      margin-top: 20px;
    }
  }

  &-find-challenge {
    margin-top: 150px;

    &-left {
      padding-top: 30px;
    }
  }

  &-find-team {
    margin-top: 80px;

    &-img-container {
      position: relative;

      &-btn {
        position: absolute;
        width: 100%;
        top: 68%;
        left: -1%;
      }
    }

    &-right {
      padding-top: 60px;
    }
  }

  &-work-together {
    margin-top: 80px;
  }

  &-requirements {
    margin-top: 80px;

    &-btn {
      margin-top: 40px;
    }
  }

  &-accordion {


    &-heading {
      color: $main-txt;
      font-family: 'Poppins-Regular', serif;
      font-weight: bold;
      border-bottom: 1px solid #C4C4C4;
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 5%;
      cursor: pointer;

      &:first-of-type {
        border-top: 1px solid #C4C4C4;
      }

      &-pointer {
        color: $typography;
        font-size: 14px;
        margin-left: 5%;
      }
    }

    &-point {
      display: flex;
      align-items: center;
      margin-top: 20px;

      &-check {
        margin-right: 5%;
      }

      &-text {
        display: inline-block;
        width: 80%;
        margin-bottom: 0;
      }
    }
  }

  &-gold-text {
    color: $secondary;
  }

  &-bold {
    font-weight: bold;
  }

  &-blue-text {
    color: $main-txt;
  }

}
