@import 'src/Assets/variables';

.project-list {
  width: 100%;
  min-height: 100px;
  padding: 30px 0;
  margin-top: 0;

  &-top-margin {
    margin-top: 180px;
  }

  &-items {
    display: flex;
    width: 100%;
    min-height: 300px;
    border: 1px solid #CCC;
    border-radius: 20px;
    margin-bottom: 30px;

    &-images {
      width: 250px;
      min-height: 250px;
      border-radius: 20px 0 0 20px;
      display: flex;
      align-items: center;

      &.math {
        background-color: #F79838;
      }

      &.science {
        background-color: #1A2B4C;
      }
    }

    &-description{
      padding: 30px;
      flex: 1;

      &-text {
        cursor: pointer;
      }

      & h1 {
        font-family: 'Poppins-Bold', serif;
        font-size: 20px;
        padding: 20px 0;
        color: #A2DAF1;
      }

      &-badge {
        display: flex;
        margin-top: 60px;
      }

      &-custom-badge {
        padding: 10px!important;
        border-radius: 10px;
        background: #EEE;
        margin-right: 10px;
        font-weight: normal;
        font-family: 'Nunito-Regular', serif;
        text-transform: uppercase;
      }
    }

    &-info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 50px 30px 30px 30px;

      & h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: 'Poppins-SemiBold', serif;
      }

      & p {
        padding: 5px 0;

        &.no-team {
          color: $ghost;

          & svg {
            color: $ghost;
          }
        }

        &.available-team {
          color: $secondary;

          & svg {
            color: $secondary;
          }
        }

        & svg {
          font-size: 18px;
          position: relative;
          top: -2px;
          color: $main;
        }
      }
    }
  }
}
