@import 'src/Assets/variables';

.free-material {
  &__modal {
    max-width: 700px;

    & .close {
      position: absolute;
      right: 5px;
      top: -50px;
      cursor: pointer;

      & svg {
        color: #FFF;
        font-size: 36px;
      }
    }

    & .modal-content {
      border-radius: 20px;
      transform: scale(0.9, 0.9);
      -webkit-transform: scale(0.9, 0.9);
    }

    & .modal-body {
      padding: 30px 50px;

      & .carousel {
        height: auto;
      }

      & .carousel .carousel-control-prev {
        left: -150px !important;
      }

      & .carousel .carousel-control-next{
        right: -150px !important;
      }

      & .carousel-control.left:hover, .carousel-control-prev:hover {
        background-image: none !important;
      }

      & .carousel-control.right:hover, .carousel-control-next:hover {
        background-image: none !important;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    width: 100%;
    text-align: center;

    & h1 {
      font-size: 24px;
      font-family: 'Poppins-SemiBold', serif;
    }
  }

  &__small-title {
    padding: 10px 0 15px 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins-SemiBold', serif;
  }

  &__action {
    width: 100%;
    padding: 50px 0;
    position: absolute;
    right: 0;
    bottom: -120px;

    & .custom-button .btn-secondary {
      background: #FFF !important;
      color: #555;
    }
  }

  &__lesson-title {
    padding: 15px 0;
    margin-top: 20px;

    & img {
      padding: 15px 0;
    }

    & h1 {
      font-family: 'Poppins-SemiBold', serif;
      font-size: 24px;
      line-height: 36px;
    }

    & .label-badge {
      display: inline-block;
      margin-right: 15px;

      & .badge-light {
        padding: 8px 12px;
        font-size: 14px;
      }
    }
  }

  &__description {
    & h5 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      margin-top: 10px;
    }

    & .wrapper {
      border-bottom: 1px solid #EBEBEB;
      margin-bottom: 15px;
      padding: 10px 0;
    }
  }
}
