.educational-level {
  padding: 10px!important;
  border-radius: 10px;
  background: #EEE;
  margin-right: 10px;
  font-weight: normal;
  font-family: 'Nunito-Regular', serif;
  text-transform: uppercase;
}
