$sub-position: 30%;
$grade-position: 55%;
$published-position: 82%;


.admin-lesson-bank {
  &-table {
    &-header {
      &-text {
        &.grade {
          position: absolute;
          left: $grade-position;
          display: flex;
        }
      }
    }
  }

  &-table-row {
    &-text {

      &.subject {
        width: calc(#{$grade-position} - #{$sub-position});
      }

      &.grade {
        width: calc(#{$published-position} - #{$grade-position});
      }
    }
  }
}