$white: #FFFFFF;

$main: #A2DAF1;
$main-txt: #64B3D4;
$secondary: #E3B26A;
$typography: #636363;
$line: #BDBDBD;
$ghost: #E0E0E0;
$button-main: #83CDEC;

$admin-sidebar-width: 20%;
$admin-content-width: 80%;
