@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

.icon-user {
  @extend .fa;
  @extend .fa-user;
}

@font-face {
  font-family: 'Cartwheel';
  src: url('../src/Assets/Fonts/Cartwheel.otf');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../src/Assets/Fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../src/Assets/Fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../src/Assets/Fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('../src/Assets/Fonts/Nunito-Regular.ttf') format('truetype');
}

body {
  font-family: 'Nunito-Regular', serif;
  font-weight: normal;
  font-style: normal;
  color: #777;
}

.bold-text {
  font-weight: bold;
}

.container-fluid {
  width: 1280px;
}
