.phone-input {
  font-size: 14px;
  height: 50px;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid #CED4DA;
  display: flex;
  align-items: center;

  &-country-code {
    border-right: 1px solid #CED4DA;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 2%;
  }

  &-number {
    height: 100%;
    border: none;
    margin-left: 1%;
    width: 80%;

    &:focus,
    &:active {
      outline: none;
    }
  }
}