.papan-pintar {
  width: 100%;
  min-height: 100vh;
  background: #FFF;

  &-jumbotron {
    display: flex;
    width: 100%;
    min-height: 450px;
    background: url('../../Assets/Images/background-papan-pintar.png');
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;

    & h1 {
      font-family: 'Poppins-Bold', serif;
      font-size: 56px;
      padding: 20px 0;
      color: #A2DAF1;
    }

    & p {
      font-size: 18px;
      margin-bottom: 75px;
      line-height: 36px;

      & a {
        color: #E3B26A;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  &-toggle {
    width: 100%;
    min-height: 100px;
    padding: 30px 0;
    z-index: 2;
    background: #FFF;

    &-filter {
      padding-top: 10px;
      display: flex;

      & .active-btn-filter {
        border: 1px solid #A2DAF1 !important;
        color: #A2DAF1 !important;
        font-weight: bold;
      }
    }

    &-filter button {
      width: 175px;

      &:hover {
        color: #A2DAF1 !important;
        font-weight: bold;
      }
    }

    &-dropdown {
      display: inline-block;
      border-right: 1px solid #DDD;
      margin-right: 15px;
      width: 200px;
      position: relative;
      top: 12px;
      padding-right: 15px;

      & .multi-select .dropdown-heading {
        border-radius: 100px !important;
        border: 1px solid #EDEDED !important;
        height: 40px!important;

        &:hover {
          border: 1px solid #A2DAF1!important;
          transition: 0.3s ease;
        }

        & .dropdown-heading-value {
          padding: 3px 15px 0 15px!important;
          color: #636363!important;

          & span {
            color: #636363!important;
          }
        }
      }
    }

    & .btn {
      padding: 8px 25px;
      border-radius: 100px !important;
      background: transparent !important;
      color: #636363;
      border: 1px solid #EDEDED;
      margin-right: 15px;
      box-shadow: none;
    }

    & .btn-primary {
      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled).active,
      .show > &.dropdown-toggle {
        color: #636363!important;
        border: 1px solid #A2DAF1!important;
      }
    }

    & .btn-secondary {
      padding: 8px 25px;
      border-radius: 100px !important;
      background: transparent !important;
      color: #636363;
      border: 1px solid #EDEDED!important;
      margin-right: 15px;
      box-shadow: none;

      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled).active,
      .show > &.dropdown-toggle {
        color: #FFF!important;
        background: #A2DAF1!important;
      }
    }

    & .btn-primary:hover {
      border: 1px solid #A2DAF1 !important;
    }

    & .btn-secondary:hover {
      color: #FFF !important;
      background: #A2DAF1 !important;
    }
  }
}

.sticky {
  position: fixed;
  z-index: 1;
  top: 0;
  margin-top: 150px;
}
